.credentails-bg {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#ebfef5, #e87e0c);
}

.credentials-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    height: 420px;
    width: 350px;
    background-image: radial-gradient( #e87e0c, #ebfef5);
    box-shadow: 0px 4px 16px 0px #eda558;   
}

.credentials-form:hover {
    box-shadow: 0px 4px 16px 0px #30f036, 0px 0px 4px 0px #30f036 inset;
    transition-duration: 0.6s;
    .credentials-heading span {
        color: #1dc222;
    }
  }

.input-credentials {
    width: 90%;
    padding-block: 12px;
    padding-left: 12px;
    outline: none;
    border: 1px solid gray;
    border-radius: 6px;
}

.input-container {
    margin: 5px;
    width: 80%;  
    text-align: center;
}

.input-container label {
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #3b3a38;
}

.register-btn {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #e87e0c;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #ebfef5;
    color: #e87e0c;
    transition: 1s;
}

.btn-container {
    width: 100%;
    text-align: center;
}

.credentials-heading {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}

.credentials-heading span {
    color: #e87e0c;
    font-family: 'Courier New', Courier, monospace;
}

.create-user-text {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

.link-user {
    color: darkblue;
}

.or-text {
    font-size: 14px;
    margin-bottom: 0px;
}