.nav-header {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: center;
    background-image: linear-gradient(to left, #ebfef5, #e87e0c);
    border-bottom: 1px solid;
}
.nav-items-container {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0px;
    width: 70%;
}

.logout-btn {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: #e87e0c;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-inline: 22px;
    padding-block: 6px;
}

.logout-btn:hover {
    background-color: #ebfef5;
    color: #e87e0c;
    border: 1px solid #e87e0c;
}

.link-style {
    text-decoration: none;
}

.nav-list-item {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.nav-list-item:hover {
    text-decoration: underline; 
}