.products-bg {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 80px;
}

.products-bg ul {
    align-self: stretch;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: decimal;
}

.products-bg ul li {
    margin: 25px;
    border-bottom: 2px solid #32a852;
    width: 280px;
    font-size: 18px;
    font-weight: 500;
}

.products-bg h1 {
    font-size: 32px;
    font-weight: 500;
    text-decoration: underline;
}

.admin-bg {
    min-height: 89vh;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-bg ul {
    align-self: stretch;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.admin-bg ul li {
    margin: 25px;
    border-bottom: 2px solid #32a852;
    width: 280px;
    font-size: 18px;
    font-weight: 500;
}

.admin-input-container {
    margin-block: 8px;
}

.admin-input-containers-list {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    margin-bottom: 8px;
}

.admin-input-container label {
    font-size: 13px;
    font-weight: 500;
}

.admin-input-container input {
    width: 200px;
    font-size: 14px;
    padding-block: 6px;
    border: 1px solid grey;
    outline: none;
    padding-left: 12px;
    background-color: whitesmoke;
    border-radius: 4px;
}

.admin-bg h1 {
    margin-bottom: 25px;
    text-decoration: underline;
}

.admin-btn {
    width: 180px;
    padding-block: 8px;
    background-image: linear-gradient(to left, #ebfef5, #e87e0c);
    border: 1px solid #32a852;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.admin-btn:hover {
    background-image: linear-gradient(to right, #ebfef5, #e87e0c);
    transform: rotate(4deg);
    transition: 1s;
    color: #ebfef5;
}

.admin-delete-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  margin-left: 15px;
}

.admin-delete-btn:hover {
    background-color: darkred;
  }

  .admin-edit-btn {
    background-color: blue;
    color: white;
    width: 60px;
    padding-block: 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
  }

  .admin-edit-btn:hover {
    background-color: darkblue;
  }

  .product-link {
    text-decoration: none;
  }