.products-bg {
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 80px;
}

.products-bg ul {
    align-self: stretch;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: decimal;
    padding: 0px;
}

.products-bg ul li {
    margin: 25px;
    width: 280px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    background-image: radial-gradient(#ebfef5, #e87e0c);
    border-radius: 8px;
}

.products-bg ul li p {
    font-size: 16px;
    margin: 4px;
    color: black;
}

.products-bg h1 {
    font-size: 32px;
    font-weight: 500;
    text-decoration: underline;
}

.admin-bg {
    min-height: 89vh;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-bg ul {
    align-self: stretch;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}

.admin-bg ul li {
    margin: 25px;
    width: 280px;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #32a852;
    padding: 20px;
    border-radius: 8px;
}

.stock-list-card {
    height: 200px;
    background-color: #ebfef5;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.admin-input-container {
    margin-block: 8px;
}

.admin-input-containers-list {
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    margin-bottom: 8px;
}

.admin-input-container label {
    font-size: 13px;
    font-weight: 500;
}

.admin-input-container input {
    width: 200px;
    font-size: 14px;
    padding-block: 6px;
    border: 1px solid grey;
    outline: none;
    padding-left: 12px;
    background-color: whitesmoke;
    border-radius: 4px;
}

.admin-bg h1 {
    margin-bottom: 25px;
    text-decoration: underline;
}

.admin-btn {
    width: 180px;
    padding-block: 8px;
    background-image: linear-gradient(to left, #ebfef5, #e87e0c);
    border: 1px solid #32a852;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.admin-btn:hover {
    background-image: linear-gradient(to right, #ebfef5, #e87e0c);
    transform: rotate(4deg);
    transition: 1s;
    color: #ebfef5;
}

.admin-delete-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
    margin-left: 15px;
}

.admin-delete-btn:hover {
    background-color: darkred;
}

.admin-edit-btn {
    background-color: blue;
    color: white;
    width: 60px;
    padding-block: 4px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
}

.admin-edit-btn:hover {
    background-color: darkblue;
}

.product-link {
    text-decoration: none;
}

.add-cart-btn {
    padding-inline: 12px;
    padding-block: 6px;
    border: 1px solid #e87e0c;
    background-color: #ebfef5;
    color: #e87e0c;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.add-cart-btn:hover {
    background-color: #32a852;
    color: black;
    border: none;
}

.stock-name {
    font-size: 24px !important;
    color: #32a852 !important;
    font-weight: 700;
}

.product-detail-bg {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
}

.product-detail-bg h1 {
    text-decoration: underline;
}

.product-detail-bg h2 {
    font-size: 28px;
    color: #32a852;
}

.product-detail-bg p {
    color: black;
    font-weight: 500;
    font-size: 18px;
}